{% extends 'base.html' %}
{%load static%}
{% block title %}Trang Chủ{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <h1 class="text-center">Lịch Học</h1>
        <table class="table table-striped table-bordered mt-4">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Mã Lớp</th>
                    <th>Mã Môn Học</th>
                    <th>Ngày Học</th>
                    <th>Giảng Đường</th>
                </tr>
            </thead>
            <tbody>
                {% for lich in lich_hoc %}
                <tr>
                    <td>{{ lich.id }}</td>
                    <td>{{ lich.ma_lop }}</td>
                    <td>{{ lich.ma_mh }}</td>
                    <td>{{ lich.ngay_hoc }}</td>
                    <td>{{ lich.giang_duong }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Không có dữ liệu</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
