{% extends 'base.html' %}

{% block title %}Trang Chủ{% endblock %}

{% block content %}
<content>
  <h1>TRA CỨU ĐIỂM</h1>
  <form action="" method="post">
    <div class="row" >
      {% csrf_token %}
      <div class="col-md-2">
        <div class="form-group">
            {{ form.ten_lop.label_tag }}
            {{ form.ten_lop }}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            {{ form.ten_hoc_vien.label_tag }}
            {{ form.ten_hoc_vien }}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            {{ form.ten_mon_hoc.label_tag }}
            {{ form.ten_mon_hoc }}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            {{ form.hoc_ki.label_tag }}
            {{ form.hoc_ki }}
        </div>
      </div>
      <div class="col-md-4 pt-4 ">
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
      </div>
    </div>
  </form>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Họ và tên</th>
          <th scope="col">Môn</th>
          <th scope="col">Học kì</th>
          <th scope="col">Điểm</th>
        </tr>
      </thead>
      <tbody>
        {% if content %}
          {% for item in content %}
            <tr>
              <td>{{item.ma_hv}}</td>
              <td>{{item.ma_mh}}</td>
              <td>{{item.hoc_ki}}</td>
              <td>{{item.diem}}</td>
            </tr>
          {% endfor %}
        {% else %}
            <tr>
              <td>Không có dữ liệu</td>
              <td>Không có dữ liệu</td>
              <td>Không có dữ liệu</td>
              <td>Không có dữ liệu</td>
            </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</content>
{% endblock %}
